{
	"presets": ["es2015", "stage-0"],
	"plugins": [
		"add-module-exports",
		"transform-runtime",
		["babel-plugin-module-alias", [
			{ "src": "./lib/tools", "expose": "tools" },
			{ "src": "./constants", "expose": "constants" }
		],
		"flow-runtime", {
			"assert": true,
			"annotate": true
			}
		]
	]
}
