{
	"presets": ["es2015", "stage-0"],
	"plugins": [
		"add-module-exports",
		"transform-runtime",
		["babel-plugin-module-alias", [
			{ "src": "./app/commands", "expose": "commands" },
			{ "src": "./app/util", "expose": "util" }
		],
		"flow-runtime", {
			"assert": true,
			"annotate": true
			}
		]
	]
}
