{
	"presets": ["es2015", "stage-0"],
	"plugins": [
		"add-module-exports",
		"transform-runtime",
		["module-resolver", {
			"root": ["./app"]
		},
		"flow-runtime", {
			"assert": true,
			"annotate": true
			}
		]
	]
}
